---
import Layout from '../../layouts/Layout.astro';
import { Maximize2 } from 'lucide-react';
---

<Layout title="Portfol.io | Create Account">
  <div class="max-w-4xl mt-6 mx-auto">
    <div class="grid gap-8">
      <h1 class="text-4xl font-bold mb-8">My Portfol.io</h1>
      
      <!-- Portfolio 1 -->
      <div class="mb-8">
        <div class="grid grid-cols-5 gap-4 w-full">
          <div class="">
            <p class="text-lg">Portfolio 1</p>
          </div>
          <div class="bg-zinc-600 border border-gray-300 rounded-lg h-7 flex items-center justify-center hover:bg-zinc-400 ease-in-out transition-colors duration-300">
            <p class="mx-5">Preview</p>
            <Maximize2/>
          </div>
          <div>
            <p class="text-lg">
              [
              <a href="/portal/portfolio" class="hover:text-zinc-400 ease-in-out transition-colors duration-300">Edit</a>, 
              <a href="" class="hover:text-zinc-400 ease-in-out transition-colors duration-300">Delete</a>
              ]
            </p>
          </div>
        </div>
      </div>

      <!-- Portfolio 2 -->
      <div>
        <div class="grid grid-cols-5 gap-4 w-full">
          <div class="">
            <p class="text-lg">Portfolio 2</p>
          </div>
          <div class="bg-zinc-600 border border-gray-300 rounded-lg h-7 flex items-center justify-center hover:bg-zinc-400 ease-in-out transition-colors duration-300">
            <p class="mx-5">Preview</p>
            <Maximize2/>
          </div>
          <div>
            <p class="text-lg">
              [
              <a href="/portal/portfolio" class="hover:text-zinc-400 ease-in-out transition-colors duration-300">Edit</a>, 
              <a href="" class="hover:text-zinc-400 ease-in-out transition-colors duration-300">Delete</a>
              ]
            </p>
          </div>
        </div>
      </div>

      <div>    
          <button>
            <a class="mt-6 p-3 rounded-lg text-zinc-900 bg-zinc-100 hover:bg-zinc-400 ease-in-out hover:ease-in-out transition-colors duration-250">
              Create New
            </a>
          </button>
      </div>    
    </div>
  </div>
</Layout>