---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfol.io | Home">
  <div class="max-w-4xl mx-auto h-screen flex items-center justify-center">
    <div class="grid gap-8">
      <section class="text-center">
        <h2 class="text-8xl font-bold mb-4">Welcome!</h2>
        <p class="text-lg text-gray-600 dark:text-gray-300">
            Create your portfolio today
        </p>
        <button class="mx-3 mt-6 p-3 rounded-lg text-zinc-900 bg-zinc-100 hover:bg-zinc-400 ease-in-out hover:ease-in-out transition-colors duration-250">  
          <a 
          href="/portal/create" 
          class="text-center justify-center text-lg">
          Create Portfol.io
          </a>
        </button>
        <button class="mx-3 mt-6 p-3 rounded-lg text-zinc-900 bg-zinc-100 hover:bg-zinc-400 ease-in-out hover:ease-in-out transition-colors duration-250">  
          <a 
          href="/portal/login" 
          class="text-center justify-center text-lg">
          View Existing Portfol.io
          </a>
        </button>
      </section>
    </div>
  </div>
</Layout>


