---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Portfol.io | My Work">
  <!-- Page-specific header -->
  <header class="rounded-lg bg-gray-200 dark:bg-zinc-800 text-gray-900 dark:text-gray-100 p-4 shadow-md mb-3">
    <nav class="container mx-auto flex items-center">
      <div class="flex items-center space-x-2">
      </div>
      <div class="flex items-center space-x-4">
        <a href="/configuration/aboutme" class="p-2 rounded-full dark:bg-zinc-800 hover:bg-gray-300 dark:hover:bg-gray-600 transition-colors duration-200" aria-label="Home">About Me</a>
        <a href="/configuration/mywork" class="p-2 rounded-full dark:bg-zinc-700 hover:bg-gray-300 dark:hover:bg-gray-600 transition-colors duration-200" aria-label="My Portfolio">My Work</a>
        <a href="/configuration/resume" class="p-2 rounded-full dark:bg-zinc-800 hover:bg-gray-300 dark:hover:bg-gray-600 transition-colors duration-200" aria-label="Settings">Resume</a>
        <a href="" class="p-2 rounded-full dark:bg-zinc-800 hover:bg-gray-300 dark:hover:bg-gray-600 transition-colors duration-200" aria-label="Help">Add Tab</a>
      </div>
    </nav>
  </header>

  <!-- Page content goes here -->
  <section>
    <div class="mb-5">

      <h1 class="text-bold text-2xl">
        My Work [
        <a
        href="/configuration/submenu/rearrange"
        class="hover:text-zinc-400 ease-in-out transitions-colors duration-300"
        >Rearrange
        </a>
        , 
        <a
        href=""
        class="hover:text-zinc-400 ease-in-out transitions-colors duration-300"
        >Edit Descriptions
        </a>
      ]

      </h1>

    </div>
  </section>
  <section>
    <div class="grid grid-cols-5 grid-rows-2 gap-4">
      <div class="bg-zinc-600 border border-gray-300 rounded-lg h-32 flex items-center justify-center hover:bg-zinc-400 ease-in-out transition-colors duration-300">
        <a href="https://cdn.acidmal.com/CAD.png" target="_blank" class="w-full h-full"></a>
      </div>
      <div class="bg-white border border-gray-300 rounded-lg h-32 flex items-center justify-center bg-cover bg-center" style="background-image: url('https://cdn.acidmal.com/CAD.png');">
        <a href="https://cdn.acidmal.com/CAD.png" target="_blank" class="w-full h-full"></a>
      </div>
      <div class="bg-white border border-gray-300 rounded-lg h-32 flex items-center justify-center bg-cover bg-center" style="background-image: url('https://cdn.acidmal.com/Painting.png');">
        <a href="https://cdn.acidmal.com/Painting.png" target="_blank" class="w-full h-full"></a>
      </div>
      <div class="bg-white border border-gray-300 rounded-lg h-32 flex items-center justify-center bg-cover bg-center" style="background-image: url('https://cdn.acidmal.com/deer.jpg');">
        <a href="https://cdn.acidmal.com/deer.jpg" target="_blank" class="w-full h-full"></a>
      </div>
      <div class="bg-white border border-gray-300 rounded-lg h-32 flex items-center justify-center bg-cover bg-center" style="background-image: url('https://cdn.acidmal.com/finished_painting.png');">
        <a href="https://cdn.acidmal.com/finished_painting.png" target="_blank" class="w-full h-full"></a>
      </div>
      <div class="bg-white border border-gray-300 rounded-lg h-32 flex items-center justify-center bg-cover bg-center" style="background-image: url('https://cdn.acidmal.com/flowers.webp');">
        <a href="https://cdn.acidmal.com/flowers.webp" target="_blank" class="w-full h-full"></a>
      </div>
      <div class="bg-white border border-gray-300 rounded-lg h-32 flex items-center justify-center bg-cover bg-center" style="background-image: url('https://cdn.acidmal.com/isobars.png');">
        <a href="https://cdn.acidmal.com/isobars.png" target="_blank" class="w-full h-full"></a>
      </div>
      <div class="bg-white border border-gray-300 rounded-lg h-32 flex items-center justify-center bg-cover bg-center" style="background-image: url('https://cdn.acidmal.com/lake.jpg');">
        <a href="https://cdn.acidmal.com/lake.jpg" target="_blank" class="w-full h-full"></a>
      </div>
      <div class="bg-white border border-gray-300 rounded-lg h-32 flex items-center justify-center bg-cover bg-center" style="background-image: url('https://cdn.acidmal.com/pier.jpg');">
        <a href="https://cdn.acidmal.com/pier.jpg" target="_blank" class="w-full h-full"></a>
      </div>
      <div class="bg-white border border-gray-300 rounded-lg h-32 flex items-center justify-center bg-cover bg-center" style="background-image: url('https://cdn.acidmal.com/railroad.jpg');">
        <a href="https://cdn.acidmal.com/railroad.jpg" target="_blank" class="w-full h-full"></a>
      </div>
    </div>
  </section>

</Layout>